# Dependency folders
node_modules/
dbInvoice_backend/node_modules/
DbInvoice_frontend/node_modules/

# Environment files
.env
dbInvoice_backend/.env
dbInvoice_frontend/.env

# Build outputs
dbInvoice_frontend/dist
dist/